language: python

before_install:
  - mkdir -p $HOME/bin
  - wget https://github.com/github/git-lfs/releases/download/v1.1.2/git-lfs-linux-amd64-1.1.2.tar.gz
  - tar xvfz git-lfs-linux-amd64-1.1.2.tar.gz
  - mv git-lfs-1.1.2/git-lfs $HOME/bin/git-lfs
  - export PATH=$PATH:$HOME/bin/

before_script: 
  - git lfs pull

script:
  - ls
  - ls sunpy/v1/

before_deploy: "rm -rf git-lfs*; bash generate_index.sh > index.html"

deploy:
  provider: s3
  access_key_id: AKIAJZ22SCC4ZICYXFVA
  secret_access_key:
    secure: aZqKFqgUoCoGlUyn38ymJWvId5tCd+e2BeVq7PrFc8voC9ltDJQ9OAPbADYKFbs7otjI1MbnuBlhYXMSUh8bWV1yiqpu83rRbv3/vQhstRFRtc9qUP6WhBK5lnC+lFml6yExuJbiSCBctHcxcLDwQQzqAGOqde+hnMo0gf0C7rGkdMirX1E0pnqz3xtAvQ53TOCffLzud6yfOXd8aapvD8396H9B9MKyp4c32jXKD1GzVDiq9yh7QESWwO0cUYN7hXp7I+AjErhdO6Zdw9ixH/tgfZASH/rQ9NJLqtX8lpYb0lTpM28E5tgnqXDo2HNrrfG54YsCYZ2ry/LCux7SjVGUwqesmH03tG6oBE+fSVRurIs/Qyn9JXnHziNdEC/jV+PyX8cUxKDxOMTYsrn3p1r5baRGGlwycebXAnp5qJywfbeYXY3idWhSbpzlnmb67L9b9Nti2u68fVwpt+r7QQBVKFRzVPYaGVXTuRM1QNB4h83yHkfbqccudXzyrSA+cmivbFMX35z/Nh4W4sM5B1eZzg6HCGpnB02rRqVyHFyImITZwq7S4h5oizkCEi3Vro4GbK5DlYo9AllGi2VTuA1LKlrofjc5vy3bRILqNYlgdnX5gjWNGB0jNQS7DRscqpeulrVIC7aGsmbm1GpLCFoTNBweqWvEVR/OdTTe29I=
  bucket: data.sunpy.org
  region: "eu-west-1"
  skip_cleanup: true
  on:
    repo: sunpy/sample-data
