*.fits filter=lfs diff=lfs merge=lfs -text
*.fit filter=lfs diff=lfs merge=lfs -text
*.pha filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
AIA20110607_063301_0131_lowres.fits filter=lfs diff=lfs merge=lfs -text
AIA20110607_063305_0094_lowres.fits filter=lfs diff=lfs merge=lfs -text
AIA20110607_063307_0193_lowres.fits filter=lfs diff=lfs merge=lfs -text
swap_lv1_20110607_063329.fits filter=lfs diff=lfs merge=lfs -text
hsi_image_20110607_063300.fits filter=lfs diff=lfs merge=lfs -text
AIA20110607_063302_0171_lowres.fits filter=lfs diff=lfs merge=lfs -text
AIA20110607_063302_0211_lowres.fits filter=lfs diff=lfs merge=lfs -text
AIA20110607_063303_0335_lowres.fits filter=lfs diff=lfs merge=lfs -text
AIA20110607_063305_1600_lowres.fits filter=lfs diff=lfs merge=lfs -text
eit_l1_20110607_203753.fits filter=lfs diff=lfs merge=lfs -text
go1520110607.fits filter=lfs diff=lfs merge=lfs -text
BIR_20110607_062400_10.fit filter=lfs diff=lfs merge=lfs -text
aiacalibim5.fits.gz filter=lfs diff=lfs merge=lfs -text
glg_cspec_n5_110607_v00.pha filter=lfs diff=lfs merge=lfs -text
lyra_20110607-000000_lev3_std.fits filter=lfs diff=lfs merge=lfs -text
RecentIndices.txt filter=lfs diff=lfs merge=lfs -text
predicted-sunspot-radio-flux.txt filter=lfs diff=lfs merge=lfs -text
20110607_EVE_L0CS_DIODES_1m.txt filter=lfs diff=lfs merge=lfs -text
tca110810 filter=lfs diff=lfs merge=lfs -text
